body{
    overflow: hidden;
}
.table td, .table th {
    padding: 0;
}
.mini_plot{

    width:300px !important;
    height:175px !important;

}

.maxi_plot{

    width:600px !important;
    height:initial !important;

}
.full_plot{
    margin: 6vh 14vw 7vh 2vw;
}


.flex{
    display: flex;
}

.pseudo-pill{
    border-radius: 0 !important;
}

.nav-block{
    background: #d2d2d2;
    height: 100vh;
    width: 150px;
    min-width: 150px;
    margin-top: 40px;
}

.info-bar{
    width: 100vw;
    height: 40px;
    position: absolute;
    font-size: 1.1rem;
    font-style: italic;
    background: #d2d2d2;
}

.info-bar-state{
    padding: 5px;
    position: absolute;
    margin-left: 150px;
}
.info-bar-logo{
    padding: 5px;
    background: #a4a4a4;
    width: 150px;
    font-style: italic;
}

.nav-tabs{
    margin: 1.6em 0.5em;
    border-bottom: 0 !important;
}

.h1-h1{
    margin: 32px 79px 0px 56px !important;
    font-size: 3rem;
}

.scheme-tab{
    margin: 20px 0;
}

.moments-tab{
    margin: 20px 0;
    width: 85vw;
}

.const-tab{
    margin: 20px 0;
}

.h2-h2{
    font-size: 1.5rem;
}

.scheme-img{
    margin-left: 3vw;
    margin-top: 2vh;
}
.moment-img{
    margin-left: 0.6vw;
    margin-top: 0.8vh;
}

.scheme-img-self{
    width: 59vw;
}
.moments-img-self{
    width: 55vw;
}

.igt-sch-1{
    width:185px;
}

.moment-ctr{
    justify-content: space-between;
    height: 460px;
}

.col-wd-1{
    width: 5vw;
    margin: 0 7px !important;
    padding: 6px 1px;
}

.col-hd-wd-1{
    width: 6vw;
    padding: 10px 15px !important;
}

.col-hd-wd-0{
    width: 1vw;
    padding: 9px 13px !important;
}

.table-moments{
    width: 30vw;
    margin-bottom: 4px;
}

.col-dm-1{
    font-size: 1.5rem;
    padding: 20px 13px;
}

.col-dm-2{
    font-size: 1.2rem;
    padding: 20px 13px;
}

.col-hd-wd-2{
    padding: 7px 150px !important;
}

.col-hd-wd-3{
    width: 6vw;
    padding: 18px 10px !important;
}

.sys-block-1{
    height: 460px;
}

.sys-block-2{
    margin-right: 1vw;
}
.sys-block-3{
    min-width: 13vw;
    margin-right: 10px;
}

.sys-block-4{
    width:590px;
}

.calc-btn{
    width: 150px;
}

.sys-block-5{
    overflow-x: scroll;
    height: 90vh;
}

.logo_v2{
    width: 56vw;
    margin: 30px 30px 30px 15vw;
}

.table-check{

}

.col-hd-wd-4{
    width: 3vw;
    font-size: 1.3rem;
    padding: 18px 10px !important;
}

.mini-logo{
    padding: 0;
    width: 100%;
    height: 100%;
}

.form-check-input {
    margin-top: .56rem;
}

.report-parts{
    margin: 10px;
    font-size: 1.2rem;
}
#copyblock-blocks{
    width: 1000px;
}